@font-face {
	font-family: 'Book Antiqua';
	src: url('../font/book_antiqua.eot');
	src: url('../font/book_antiqua.eot?#iefix') format('embedded-opentype'),
		url('../font/book_antiqua.svg#Book Antiqua') format('svg'),
		url('../font/book_antiqua.woff') format('woff'),
		url('../font/book_antiqua.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
	position: relative;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #000;
	border: none;
}
body {
	font: 14px/1.2 "Book Antiqua", "Palatino Linotype", Palatino, serif;
}
a {
	outline: none;
	text-decoration: none;
	color: #000;
}
	a:hover {
		color: #000;
		text-decoration: underline;
	}
	a:active {
		color: #000;
	}
	a:visited {
		color: #000;
	}
img {
	vertical-align: bottom;
}
h3 {
	margin: 0;
	font-size: 25px;
	line-height: 30px;
	float: none;
}
img {
	border: none;
}

.page {
	width: 1000px;
	position: relative;
	margin: 0px auto;
	display: block;
	background: none repeat scroll 0% 0% #FFF;
	min-height: 100%;
}
.wrap {
	position: relative;
	padding: 0px 0px;
}
/***************************************
* HEADER
****************************************/
.header	{
	height: 200px;
	display: block;
}

	.header_wrap {
		height: 100px;
		padding: 10px 20px;
		position: relative;
		zoom:1;
	}
	.header .logo {
		margin: 10px 0 0;
		text-decoration: none;
		color: #000000;
		display: inline-block;
		height: 79px;
	}
	.social_buttons {
		list-style: none outside none;
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 20px;
		margin-bottom: 10px;
	}
		.social_buttons li {
			float: left;
			margin-left: 13px;
		}
		.social_buttons .fb {
			float: left;
			height: 48px;
			width: 48px;
			background: url(../images/icons.png) 0 0;
		}	
		.social_buttons .tt {
			float: left;
			height: 48px;
			width: 48px;
			background: url(../images/icons.png) 50px 0;
		}
	.menu-wrapper {
		width: 100%;
		border-collapse: collapse; 
		border-spacing: 0px;
	}
		.menu td {
			padding: 0;
			float: none;
		}
		.menu a {
			display: block;
			color: #a1a1a1;
			font-size: 30px;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
			border-top: 2px #000 solid;
			border-bottom: 2px #000 solid;
		}
		.menu a:hover {
			background-color: #da5c00;
			color: #ffffff;
			border-top: 2px #da5c00 solid;
			border-bottom: 2px #da5c00 solid;
		}
		.menu .selected {
			background-color: #da5c00;
			color: #ffffff;
			border-top: 2px #da5c00 solid;
			border-bottom: 2px #da5c00 solid;
		}
/* END HEADER */

/***************************************
* SIDEBAR
****************************************/
.sidebar {
	float: right;
	width: 300px;
}
	.sidebar .side-banner {
		margin-bottom: 50px;
	}

/* END SIDEBAR */

/***************************************
* CONTENT
****************************************/
.banners-wrapper {
	margin-bottom: 50px;
	position: relative;
	height: 400px;
	overflow-y: hidden;

}
	.jcarousel {
		width: 650px;
		margin-right: 50px;
		position: relative;
		overflow: hidden;
		float: left;
	}
		.jcarousel ul {
			width: 20000em;
			position: relative;
			float: left;
			display: inline-block;
			list-style: none outside none;
			margin: 0;
			padding: 0;
		}
		.jcarousel ul li {
			float: left;
			width: 650px;
			height: 400px;
		}
		.jcarousel p {
			display: inline-block;
			margin: 0;
		}
		.jcarousel-prev {
			position: absolute;
			top: 100px; left: 0;
			height: 60px;
			width: 40px;
			background: url(../images/slider_buttons.png) 0 0;
		}
			.jcarousel-prev:hover {
				cursor: pointer;
				background: url(../images/slider_buttons.png) 0 61px;
			}
		.jcarousel-next {
			position: absolute;
			top:100px; left: 610px;
			height: 60px;
			width: 40px;
			background: url(../images/slider_buttons.png) 40px 0;
		}
			.jcarousel-next:hover {
				cursor: pointer;
				background: url(../images/slider_buttons.png) 40px 61px;
			}

.seed_detail-wrapper {
	margin-bottom: 50px;
	position: relative;
	min-height: 400px;
	width: 650px;
	overflow-y: hidden;
}
	.seed_box {
		width: 650px;
		background-color: #da5c00;
	}
	.seed_box td {
		margin: 0;
		padding: 0;
	}
	.seed_img {
		width: 300px;
	}
	.seed_quote {
		width: 340px;
		vertical-align: middle;
		text-align: center;
		color: #fff;
		font-size: 30px;
	}
	.seed_box img {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin: 10px;
		vertical-align: top;
	}
	.seed_name-wrap {
		border-bottom: 2px #da5c00 solid;
	}
		.seed_name {
			height: 30px;
			width: 300px;
			font-size: 22px;
			text-align: center;
		}
	.seed_bio {
		padding: 25px 0 50px;
	}
		.seed_bio_contacts {
			font-style: italic;
			text-align: right;
		}

	.post_text {
		text-align: justify;
		font-size: 22px;
		text-indent: 50px;
	}

.container {
	overflow: hidden;
}
	/* СПИСОК АВТОРОВ */
	.content {
		display: block;
		text-align: center;
	}
	.content ul {
		list-style: none outside none;
		margin: 0 0 0 -50px;
		padding: 0;
		font-size: 0;
	}
	.content li {
		width: 300px;
		margin: 0 0 50px 50px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
	.content li img {
		display: block;
		width: 280px;
		height: 280px;
		border: 10px #da5c00 solid;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		overflow: hidden;
	}
	.author-head {
		line-height: 50px;
		font-size: 25px;
	}

	.post-stats {
		line-height: 25px;
		background-color: #da5c00;
		color: #fff;
	}
		.post-stats a {
			color:inherit;
		}

	/* СПИСОК НОВОСТЕЙ */
	.news_content {
		display: block;
	}
	.news_content ul {
		list-style: none outside none;
		margin: 0 0 0 -50px;
		padding: 0;
		font-size: 0;
	}
	.news_content li {
		width: 300px;
		margin: 0 0 50px 50px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
	.news_content li img {
		display: block;
		width: 300px;
		height: 250px;
		overflow: hidden;
	}

	/* END СПИСОК АВТОРОВ */

	/* НОВОСТЬ */

	.post_wrap {
		display: block;
		margin: 0 50px 50px 0;
		width: 650px;
	}
	.img_borders {
		border-top:5px #da5c00 solid;
		border-bottom:5px #da5c00 solid;
	}
	.post_authors {
		margin-top: 50px;
		padding-bottom: 50px;
		border-bottom: 4px #da5c00 solid;
	}
		.post_authors_item {
			margin-top: 20px;
			line-height: 100px;
			vertical-align: middle;
		}
			.post_authors_item img {
				width: 93px;
				height: 93px;
				border: 3px #da5c00 solid;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}
			.post_authors_item span {
				margin-left: 10px;
				font-size: 20px;
				font-style: italic;
			}

	/* END НОВОСТЬ */

/***************************************
* FOOTER
****************************************/
.footer {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	height: 100px;
	border: 1px #333 dashed;
}